/* importing fonts*/
@font-face {
    font-family: web-font;
    src: url("Fonts/Fresh-&-Roast.otf");
}

:root{
    /* custom properties*/
    --primary-color:  #c98d83;
    --secondary : #783b31;
    --bg: #dba881;
    --black: #000;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    font-family: web-front;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--secondary);
}

/* header*/
.header{
    position:fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--secondary);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary-color);
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--black);
    cursor: pointer;
}

.header .icons div:hover{
    color: var(--primary-color);
}

#menu-btn{
    display: none;
}

/*shopping cart*/

.cart-items-container{
    position:fixed;
    top: 0; right: -105%;
    width: 35rem;
    background: var(--white);
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
}

.cart-items-container.active{
    right: 0;
    /*makes the background faded*/
    box-shadow: 0 0 100vmin 100vmax rgba(0, 0, 0, 0.8);
}

.cart-items-container #close-form{
    position:absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
}

.cart-items-container #close-form:hover{
    transform: rotate(90deg);
    color: var(--primary-color);
}

.cart-items-container .title{
    font-size: 2.5rem;
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.cart-items-container .cart-item{
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;    
}

.cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.cart-items-container .cart-item .fa-times:hover{
    color: var(--primary-color);
}

.cart-items-container .cart-item img{
    height: 7rem;
}

.cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: left;
}

/*media queries*/
@media (max-width: 991px){
    html{
    font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }
    
    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background: var(--white);
        border-top: .1rem solid var(--secondary);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}